<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let dataItem of dataSource | filter:'Nome':searchCriteria" 
        (click)="onSelectItem(dataItem)">
          <td>
{{dataItem?.Nome}}
          </td>
          <td>
            <button type="button" class="close" (click)="apagarItem(dataItem)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>